/* Navbar */
.navbar{
  position: relative;
  z-index: 1;
}

.navbar-brand{
  font-family: Viga;
  font-size: 32px;
}

/* Utility */
.tombol{
  text-transform: uppercase;
  border-radius: 40px;
}

/* Info Panel */
.info-panel{
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  margin-top: -100px;
  background-color: white;
  padding: 30px
}

.info-panel img{
  width: 80px;
  height: 80px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.info-panel h4{
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 5px;
}

.info-panel p{
  font-size: 14px;
  color: #ACACAC;
  margin-top: -5px;
  font-weight: 200;
}

/* workingspace */
.workingspace{
  margin-top: 120px;
  text-align: center;
}

.workingspace h3{
  font-size: 52px;
  font-weight: 200;
  text-transform: uppercase;
  margin-top: 30px;
}

.workingspace h3 span{
  font-weight: 500;
}

.workingspace p{
  font-size: 18px;
  color: #ACACAC;
  font-weight: 200;
  margin: 30px 0;
}

/* Testimonial */
.testimonial{
  margin-top: 100px;
}

.testimonial h5{
  text-align: center;
  font-weight: 200;
  font-style: italic;
  font-size: 24px;
}

.testimonial figure img{
  width: 60px;
  height: 60px;
  margin: 20px 15px 10px;
  opacity: 0.6;
}


.testimonial figure img.utama{
  width: 65px;
  opacity: 1;
  margin-top: 18px;
}

.testimonial figure h5{
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  color: #1C2C5D;
}

.testimonial figure p{
  font-size: 12px;
  color: #ACACAC;
  margin-top: -5px;
}

.testimonial figcaption{
  text-align: center;
}

/* Footer */
.footer{
  margin-top: 100px;
}

.footer p{
  color: #ACACAC;
  font-size: 18px;
}

/* Jumbotron */
.jumbotron{
  background-image: url(img/papan-arah.jpg);
  background-size: cover;
  height: 629px;
  text-align: center;
  position: relative;
}

.jumbotron .container{
  z-index: 1;
  position: relative;
}

.jumbotron .display-4{
  color: white;
  margin-top: 150px;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  font-size: 40px;
  margin-bottom: 30px;
}

.jumbotron .display-4 span{
  font-weight: 500;
}

.jumbotron::after{
  content: "";
  display: block;
  width: 100%;
  height: 80%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0,0,0,0));
  position: absolute;
  bottom: 0;
}

/* Desktop Version */
@media (min-width: 992px) {
  .navbar-brand, .nav-link{
    color: white !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  }

  .nav-link{
    text-transform: uppercase;
    margin-right: 30px;
  }

  .nav-link:hover::after{
    content: "";
    display: block;
    border-bottom: 3px solid #0B63DC;
    width: 50%;
    margin : auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }

  .jumbotron{
    margin-top: -75px;
    height: 729px;
  }

  .jumbotron .display-4 {
    font-size: 62px;
  }

  .workingspace{
    text-align: left;
  }

  .testimonial h5{
    font-size: 32px;
  }
}
